
@{

    Layout = "~/Views/Shared/_Layout_Doktor.cshtml";
    ViewBag.Title = "Ana Sayfa";
}
<html lang="tr">
<head>
    <h2 style="text-align:center;margin-top:-250px;">Ana Sayfa</h2>
</head>
</html>

