@using Service;
@{
    Layout = "~/Views/Shared/_Layout_Yonetici.cshtml";
    ViewBag.Title = "Anasayfa";
}
<script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script defer src="~/js/script.js"></script>

<head>
    <h1 style="margin-left:150px;"> Anasayfa </h1>

</head>