@using Service;
@model string;
@{
    Layout = "~/Views/Shared/_Layout_Yonetici.cshtml";
    ViewBag.Title = "Fiyat Güncelleme";
}

    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "Fiyat Güncelleme Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }


    <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style=" margin-top:-20px;">
        <thead>
            <tr>
                <th class="th-sm">
                    İşlem Adı
                </th>
                <th class="th-sm">
                    Ücreti
                </th>
                <th class="th-sm">

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                FiyatListesi fiyat = new FiyatListesi();
            }
            @foreach (var item in fiyat.Lists("select * from FiyatListesi"))
            {
                <tr>
                    <td>
                        @Html.Label(item.Adi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Ucreti.ToString())
                    </td>
                    <td>
                        @using (Html.BeginForm("FiyatListesiY", "Sayfalar", FormMethod.Post))
                        {
                            <textarea style="resize:none;" name="Ucreti" placeholder="@item.Ucreti"></textarea>
                            <button id="btnekle" style="margin-bottom:30px; " class="btn btn-primary btn-sm" onclick="" name="ProsedurID" value="@item.ProsedurID">Güncelle</button>

                        }
                    </td>
                </tr>

            }

        </tbody>
    </table>


<style>
    div.dataTables_wrapper div.dataTables_filter {
        visibility: hidden;
    }

    div.dataTables_wrapper div.dataTables_length {
        visibility: hidden;
    }</style>



