@using Service;

@{
    Layout = "~/Views/Shared/_Layout_Yonetici.cshtml";
    ViewBag.Title = "Gider Ekle";
}

    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "Gider ekleme Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }

  
    <h2 style="">Giderler</h2>
    <table id="tablox" class="table table-striped table-bordered dt-resposive nowrap">
        <thead>
            <tr>
                <th class="th-sm">
                    Gider ID
                </th>
                <th class="th-sm">
                    Açıklama
                </th>
                <th class="th-sm">
                    Tutar
                </th>
                <th class="th-sm">
                    Tarih
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                Gider gider = new Gider();
            }
            @foreach (var item in gider.Lists("select * from Gider"))
            {
                <tr>
                    <td>
                        @Html.Label(item.GiderID.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Aciklama.ToString())
                    </td>
                    <td>
                        @Html.Label(item.GiderTutari.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Tarih.Day.ToString()+"/"+item.Tarih.Month.ToString()+"/"+item.Tarih.Year.ToString()+"    "+item.Tarih.Hour.ToString()+":"+item.Tarih.Minute.ToString())
                    </td>
                </tr>

            }

        </tbody>
    </table>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Gider Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="container">
                        <div style=" margin-top:0px;">
                            @using (Html.BeginForm("GiderEkle", "Sayfalar", FormMethod.Post))
                            {
                            <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Gider Açıklaması </label>
                            <div class="col-sm-10">
                                    <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input class="form-control" id="" style="resize:none" type="text" required="" placeholder="Açıklama Girmediniz" name="Aciklama">
                                </div>
                                </div>

                            <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> Gider Tutarı</label>
                            <div class="col-sm-10">
                                    <span class="fa fa-lock" aria-hidden="true"></span>
                                <input class="form-control" id="label2" style="resize:none" type="text" required="" placeholder="Tutar Girmediniz" name="GiderTutari">
                                </div>
                                </div>



                                <button id="btnkaydet" class="btn btn-danger btn-block" type="submit" style="display:block; margin-top:20px; margin-left:170px;">Kaydet</button>

                            }

                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
    <button style="margin-left:1150px; margin-top:-1250px;" class="btn btn-primary btn-success" data-toggle="modal" data-target="#exampleModal2"> Gider Ekle</button>


<style>
    /* Custom CSS to move the search bar to the right */

    div.dataTables_wrapper div.dataTables_filter {
        visibility: hidden;
        margin-left:-150px;
        margin-top:-150px;
    }

    div.dataTables_wrapper div.dataTables_length {
        visibility: hidden;
    }

    div.dataTables_info {
        visibility: hidden;
    }

</style>