@using Service;
@using Service.DTO;
@model IEnumerable<RandevuDTO>;
@{
    Layout = "~/Views/Shared/_Layout_Doktor.cshtml";
    ViewBag.Title = "Randevular";
}

<div class="pagetitle">
    <h1>Randevular</h1>
</div>
@using (Html.BeginForm("RandevularD", "Sayfalar", FormMethod.Post))
{
    <div class="row g-3">
        <div class="col-md-5">
            <input id="tarih" class="form-control" type="text" name="Adi" placeholder=" Ad ile Filtrele...">
        </div>
        <div class="col-md-5">
            <input class="form-control" type="text" name="dates">
        </div>
        <div class="col-md-2">
            <button name="tip" class="form-control" value="5" style="background-color:lightgrey" id="searchButton">Filtrele</button>
        </div>
    </div>
}
<table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-top:30px;">
        <thead>
            <tr>
                <th class="th-sm">
                    TC
                </th>
                <th class="th-sm">
                   Adı Soyadı
                </th>
                <th class="th-sm">
                    Iletişim
                </th>
                <th class="th-sm">
                    Tarih
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model )
            {
                <tr>
                    <td>
                        @Html.Label(item.TC.ToString())
                    </td>
                    <td>
                        @Html.Label(item.AdiSoyadi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Iletisim.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Tarih.Day.ToString()+"/"+item.Tarih.Month.ToString()+"/"+item.Tarih.Year.ToString()+"    "+item.Tarih.Hour.ToString()+":"+item.Tarih.Minute.ToString())
                    </td>

                </tr>

            }

        </tbody>
    </table>
<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }
</style>

@section SayfaiciJS{
    <script type="text/javascript">

        $('input[name="dates"]').daterangepicker();
    </script>
}